body {
    height: 100vh;
}

.container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
}
.texarea {
    height: 40vh;    
}
textarea {
    width: 100%;
    height: 33vh;
    padding: 0;
    margin: 5vh auto;
}
.row-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3vh 0px;
}
.row {
    display: flex;
    justify-content: space-between;
}
button {
    height: 4vw;
    width: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.24vw;
    color: rgb(34, 31, 31);
    cursor: pointer;
    background-color: rgb(228, 220, 214);
    border: none;
    border-radius: 8%;
}
button:hover {
    background-color: rgb(214, 157, 142);
    font-weight: 700;
    color: beige;
}
.key-special {
    background-color: rgb(134, 85, 85);
    font-weight: 700;
    color: beige;
}
.key-special-long {    
    width: 8.5vw;
    
}
.space {
    width: 34.5vw;
    border-radius: 3%;
}
.arrow, .numbers, .space {
    background-color: rgb(196, 169, 169);
    color: beige;
    font-weight: 700;
}
.onFocus {
    border-radius: 30%;
    background-color: rgb(214, 157, 142);
}
.note {
    text-align: center;
    margin: 2vh 0;
    height: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;

}